/* ----------------------------- Defining Colors -------------------------------------- */
:root {
		--apendo-gron: #82B612;
		--dark-grey: #666666;
		--light-grey: #f3f3f3;
		--jumbotron-grey: #f3f3f3;
		--white: #ffffff;
		--strike-gul: #ffff00;
		--pure-red: #ff0000;
		--pure-green: #00ff00;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}

.main-container {
	margin-top: 50px;
}

p {
    padding: 0.75em;
    text-align: center;
}

.jumbotron {
	background-color: var(--jumbotron-grey);
}

.main-jumbotron {
	padding: 10px;
	border-radius: 15px;
	border: 2px var(--apendo-gron) solid;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--light-grey);
}